* {
  box-sizing: border-box;
}
body {
  color: darkslategrey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

aside {
  float: right;
  width: 20em;
  margin-right: 10em;
}

h3 {
  text-transform: uppercase;
}

figure {
  margin: 0em;
}

img {
  width: 100%;
  margin-bottom: 1em;
}

a {
  color: #3BA1BC;
  text-decoration: none;
}

section {
  margin: 0em 0em 3em;
}

article {
  margin: 0em 0em 2em;
}

.clearfix::after {
  content:"";
  display: block;
  clear: both;
}